body {
  max-width: 600px;
  background-color:;
  margin: auto;
}
button,
input {
  padding: 4px;
  font-size: 14px;
}
progress {
  width: 100%;
  height: 4px;
}

#result {
  font-size: 1.5em;
  font-family: "Manjari", sans-serif;
}

h1 {
  color: steelblue;
}

section{
  margin: 2em 0;
}