<html>
  <head>
    <title>{{name}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='style.css') }}">
  </head>
  <body>
    <h1>{{ name }}</h1>
    <section>
      <h2>Upload</h2>
      <input type="file" id="audio" name="audio" />
      <button onclick="submitHandler(event)">Submit</button>
    </section>
    <section>
      <h2>Record</h2>
      <button id="startRecord">Start</button>
      <button id="stopRecord">Stop</button>
      <button id="blobSubmit">Submit</button>
      <div>
        <audio id="recordedAudio" controls></audio>
        <a id=audioDownload>download</a>
      </div>
     
    </section>
    <section>
      <h2>Result</h2>
      <progress id="progress" style="display: none;"> </progress>
      <div id="result"></div>
    </section>
  </body>
</html>
